{% extends "gallery/base.html" %}

{% block aside %}
<aside>
    <h3 id="album">album</h3>
    <h2>{{ gallery.title }}</h2>

    <ul id="galleryInfos">
        {% if gallery.place %}<li><span class="glyphicon glyphicon-map-marker"></span> {{ gallery.place }}</li>{% endif %}
        {% if gallery.created %}<li><span class="glyphicon glyphicon-calendar"></span> {{ gallery.created }}</li>{% endif %}
        {% if photos %}<li><span class="glyphicon glyphicon-picture"></span> {{ photos|length }} photos</li>{% endif %}
        {% if isOwner %}
            <li><span class="glyphicon glyphicon-edit"></span> <a href="{% url 'wis_edit' %}">Editer</a></li>
            <li><span class="glyphicon glyphicon-plus"></span> <a href="{% url 'wis_upload' %}">Ajouter des images</a></li>
        {% endif %}
    </ul>
</aside>
{% endblock %}

{% block content %}
<section id="gallery">
{% if canView %}
        <div id="left_column" class="column"></div>
        <div id="center_column" class="column"></div>
        <div id="right_column" class="column"></div>
        {% for photo in photos %}
            <div id="{{ photo.pk }}" class="overlay js-overlay {% if photo.can_expand %}expandable{% endif %}">
                {% if user == photo.owner %}
                    <a data-toggle="modal" href="{% url 'wis_delete' obj_type='photo' obj_id=photo.pk %}" class="btn btn-primary btn-lg delete-photo">&times;</a>
                {% endif %}
                <span class="vignette-description">{{ photo.description }}</span>
                {% if photo.can_expand %}
                    <span class="icon-resize-full icon-white vignette-expand"></span>
                {% endif %}
                <img class="vignette" data-url="{{ MEDIA_URL }}{{ photo.medium_path }}" src="" data-index="{{ forloop.counter }}"/>
            </div>
        {% endfor %}
{% else %}
    Cette galerie est protégée par un mot de passe.
    <form method="post" action="{% url 'wis_gallery_home' gallery_owner gallery_slug %}">
        {% csrf_token %}
        <input type="hidden" name="type" value="password">
        <input type="password" name="password">
        <input type="submit">
    </form>
{% endif %}
</section>
{% include "gallery/partials/_modal.html" with id="popinDelete" title="Supprimer cette image" apply="Supprimer" cancel="Annuler" message="Êtes-vous sûr de vouloir supprimer cette image ?" %}

{% endblock %}


{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'gallery/js/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'gallery/js/modal.js' %}"></script>
    <script type="text/javascript" src="{% static 'gallery/js/gallery.js' %}"></script>
{% endblock %}
