{% extends "gallery/base.html" %}

{% block assets %}
{% endblock %}

{% block logo %}
{% endblock %}

{% block aside %}
{% endblock %}

{% block content %}
<section id="home">
    <h1>WIS</h1>
    <form action="{% url 'wis_search' %}" method="post" class="js-search-form" data-url="{% url 'wis_search' %}">
        {% csrf_token %}
        {{ searchForm }}
    </form>
    <p id="demo-gallery">> <a href="{% url "wis_gallery_home" "wis" "freedom" %}">Galerie de démo</a> <</p>
</section>
{% endblock %}

{% block scripts %}
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'gallery/js/jquery-1.10.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'gallery/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'gallery/js/search-bar.js' %}"></script>
{% endblock %}
